.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

ul#input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

ul#input-buttons li {
  flex-basis: 25%;
}

* {
  box-sizing: border-box;
  padding: 0;
}

#screen {
  width:450px;
  border:solid 1px #ccc;
  margin-bottom: 20px;
  height: 300px;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#screen span {
  border:solid 1px #ccc;
  height: 100px;
  width: 100%;
  display: block;
}

ul#input-buttons, #operator-buttons, #action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width:450px;
}

ul#input-buttons li {
  text-align: center;
  flex-basis: 25%;
  list-style: none;
  border:solid 1px #ccc;
  margin:5px;
}

ul#operator-buttons li {
  text-align: center;
  flex-basis: 15%;
  list-style: none;
  border:solid 1px #ccc;
  margin:5px;
  background: #333;
  color:white;
}

ul#action-buttons li {
  text-align: center;
  flex-basis: 15%;
  list-style: none;
}

#enter, #swap, #clear {
  border:solid 1px #ccc;
  padding: 10px;
}
